@inherits LayoutComponentBase
@using Fiona.IDE.Components.Layout.Menu


<div class="page">
    <nav class="nav-menu">
        <NavMenu/>
    </nav>
    <main class="main">
        <article>
            @Body
        </article>
    </main>

</div>