@using Fiona.IDE.Components.Pages.Project
@using Fiona.IDE.Components.Pages.Project.Exceptions
@inject NavigationManager NavManager

<Modal @ref="_modalRef" @bind-Visible="@Parent.ShowLoadProjectModal">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>Load project</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Validations Mode="ValidationMode.Manual" @ref="_validations">
                <Field>
                    <FieldLabel>Project path</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <div class="project-path-input">
                            <TextEdit ReadOnly @bind-Text="@_folderPath" Placeholder="Project path"/>
                            <Button @onclick="SetFolder" Color="Color.Light">Choose folder</Button>
                            <ValidationError>Path is required</ValidationError>
                        </div>
                    </Validation>
                </Field>
                @if (_exceptionMessage is not null)
                {
                    <Field>
                        <Text TextColor="TextColor.Danger">@_exceptionMessage</Text>
                    </Field>
                }
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="LoadProject">Load</Button>
            <Button Color="Color.Danger" Clicked="Parent.CloseLoadProjectModal">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code
{
    [CascadingParameter]
    public NavMenu Parent { get; set; } = default!;

    [Inject]
    private IProjectManager ProjectManager { get; init; } = default!;

    [Inject]
    private IFolderPicker FolderPicker { get; init; } = default!;

    private Modal _modalRef = default!;
    private Validations _validations = default!;

    private string _folderPath = string.Empty;
    private string? _exceptionMessage = null;


    private async Task SetFolder()
    {
        try
        {
            _folderPath = await FolderPicker.PickFolder();
        }
        catch (Exception)
        {
            // ignored
        }
    }

    private async Task LoadProject()
    {
        if (!(await _validations.ValidateAll()))
        {
            return;
        }

        try
        {
            await ProjectManager.LoadProject(_folderPath);
            Parent.CloseLoadProjectModal();
        }
        catch (ProjectNotFoundException ex)
        {
            _exceptionMessage = ex.Message;
        }
    }

}