@using Fiona.IDE.Components.Pages.Project
@using Fiona.IDE.Components.Pages.Project.Menu
@using Fiona.IDE.ProjectManager

<Bar
    Mode="BarMode.VerticalInline"
    CollapseMode="BarCollapseMode.Small"
    Breakpoint="Breakpoint.Desktop"
    NavigationBreakpoint="Breakpoint.Tablet"
    ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <div class="bar-brand-wrapper">
                <div class="logo-wrapper">
                    <Image Source="images/logo.jpg" Text="logo" Fluid/>
                </div>
                Fiona
            </div>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        Project
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem @onclick="() => ShowNewProjectModal = !ShowNewProjectModal">New project</BarDropdownItem>
                        <BarDropdownItem @onclick="() => ShowLoadProjectModal = !ShowLoadProjectModal">Load project</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>
            </BarItem>
            @if (ProjectManager.IsLoaded())
            {
                <ProjectMenu/>
            }
        </BarStart>
    </BarMenu>
</Bar>

<CascadingValue Value="this">
    <NewProjectModal/>
    <LoadProjectModal/>
</CascadingValue>

@code
{
    [Inject]
    public IProjectManager ProjectManager { get; init; } = default!;

    public bool ShowNewProjectModal = false;
    public bool ShowLoadProjectModal = false;

    public void CloseNewProjectModal()
    {
        ShowNewProjectModal = false;
        StateHasChanged();
    }

    public void CloseLoadProjectModal()
    {
        ShowLoadProjectModal = false;
        StateHasChanged();
    }
}