<Bar
    Mode="BarMode.VerticalInline"
    CollapseMode="BarCollapseMode.Small"
    Breakpoint="Breakpoint.Desktop"
    NavigationBreakpoint="Breakpoint.Tablet"
    ThemeContrast="ThemeContrast.Dark">
    <BarBrand>
        <BarItem>
            <div class="bar-brand-wrapper">
                <div class="logo-wrapper">
                    <Image Source="images/logo.jpg" Text="logo" Fluid/>
                </div>
                Fiona
            </div>
        </BarItem>
    </BarBrand>
    <BarMenu>
        <BarStart>
            <BarItem>
                <BarDropdown>
                    <BarDropdownToggle>
                        Project
                    </BarDropdownToggle>
                    <BarDropdownMenu>
                        <BarDropdownItem @onclick="() => _showNewProjectModal = !_showNewProjectModal">New project</BarDropdownItem>
                    </BarDropdownMenu>
                </BarDropdown>

            </BarItem>
            <BarItem>
                <BarLink To="/project-editor">app builder</BarLink>
            </BarItem>
        </BarStart>
    </BarMenu>
</Bar>

<NewProjectModal ShowModal="@_showNewProjectModal" />

@code
{
    private bool _showNewProjectModal = false;
}