@using Fiona.IDE.Components.Pages.Project
@using Fiona.IDE.ProjectManager
@using Fiona.IDE.ProjectManager.Exceptions
@inject NavigationManager NavManager

<Modal @ref="_modalRef" @bind-Visible="@Parent.ShowNewProjectModal" Closed="() => _shouldClearValidation = true">
    <ModalContent Centered>
        <ModalHeader>
            <ModalTitle>New Project</ModalTitle>
            <CloseButton/>
        </ModalHeader>
        <ModalBody>
            <Validations @ref="_validations" Mode="ValidationMode.Manual">
                <Field>
                    <FieldLabel>Project name</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <TextEdit @bind-Text="_projectName" Placeholder="Project name"/>
                        <ValidationError>Project name is required</ValidationError>
                    </Validation>
                </Field>

                <Field>
                    <FieldLabel>Project path</FieldLabel>
                    <Validation Validator="ValidationRule.IsNotEmpty">
                        <div class="project-path-input">
                            <TextEdit ReadOnly @bind-Text="@_folderPath" Placeholder="Project path"/>
                            <Button @onclick="SetFolder" Color="Color.Light">Choose folder</Button>
                            <ValidationError>Path is required</ValidationError>
                        </div>
                    </Validation>
                </Field>
                @if (_exceptionMessage is not null)
                {
                    <Field>
                        <Text TextColor="TextColor.Danger">@_exceptionMessage</Text>
                    </Field>
                }
            </Validations>
        </ModalBody>
        <ModalFooter>
            <Button Color="Color.Primary" Clicked="CreateProject">Create</Button>
            <Button Color="Color.Danger" Clicked="Parent.CloseNewProjectModal">Cancel</Button>
        </ModalFooter>
    </ModalContent>
</Modal>


@code
{
    [CascadingParameter]
    public NavMenu Parent { get; init; } = default!;

    [Inject]
    private IProjectManager ProjectManager { get; init; } = default!;

    [Inject]
    private IFolderPicker FolderPicker { get; init; } = default!;

    private Modal _modalRef = default!;
    private Validations? _validations;


    private string _folderPath = string.Empty;
    private string _projectName = string.Empty;
    private bool _shouldClearValidation = false;
    private string? _exceptionMessage = null;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (_validations is not null && _shouldClearValidation)
        {
            await _validations.ClearAll();
            _exceptionMessage = null;
        }
    }


    private async Task SetFolder()
    {
        try
        {
            _folderPath = await FolderPicker.PickFolder();
        }
        catch (Exception)
        {
            // ignored
        }
    }

    private async Task CreateProject()
    {
        if (!await _validations!.ValidateAll())
        {
            return;
        }

        try
        {
            await ProjectManager.CreateProject(_folderPath, _projectName);
            Parent.CloseNewProjectModal();
        }
        catch (ProjectAlreadyExistsException ex)
        {
            _exceptionMessage = ex.Message;
            await _validations.ClearAll();
        }

    }

}