@page "/project-editor"
@using Blazor.Diagrams.Core.Behaviors
@using Blazor.Diagrams.Core.Geometry
@using Blazor.Diagrams.Components
@inject NavigationManager NavManager


<div>
    <button @onclick="AddEndpoint">add endpoint</button>
</div>

<div class="diagram-container">
    <CascadingValue Value="Diagram" IsFixed="true">
        <DiagramCanvas></DiagramCanvas>
    </CascadingValue>
</div>

@code {

    [Inject]
    public IProjectManager ProjectManager { get; init; } = default!;
    private BlazorDiagram Diagram { get; set; } = null!;


    protected override void OnInitialized()
    {
        if (!ProjectManager.IsLoaded())
        {
            NavManager.NavigateTo("/");
        }
        
        var options = new BlazorDiagramOptions
        {
            AllowMultiSelection = true,
            Zoom =
            {
                Enabled = false,
            },
            Links =
            {
                DefaultRouter = new NormalRouter(),
                DefaultPathGenerator = new SmoothPathGenerator()
            },
        };


        Diagram = new BlazorDiagram(options);
        Diagram.UnregisterBehavior<SelectionBehavior>();
        Diagram.RegisterBehavior(new DiagramBehavior(Diagram));
    }

    private void AddEndpoint()
    {
        var node = new NodeModel(new Point(20, 20));
        node.AddPort(PortAlignment.Right);
        node.Title = "Controller";
        Diagram.Nodes.Add(node);
    }

}